.detailsPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(https://gamersrd.com/wp-content/uploads/2018/01/GamersRD-38.jpg);

}

.detailsPokemonCard{
    background-color: rgb(201, 219, 133);
    width: 650px;
    height: 600px;
    border-radius: 10%;
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.637);
    background-image: url(https://www.pngkit.com/png/full/268-2685109_being-charismatic-and-popular-professor-oak-often-okido.png);
    background-repeat: no-repeat;
    background-position: right center;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
    border:2px solid black
    
}

.detailsHeader{
    text-align: center;
    margin-top: -30px;
     
    
}

.detailsBodyTop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.detailsBodyCenter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.detailsBodyBotton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.name{
    margin-top: -10px;
    text-transform: capitalize;
}

.types{
    margin-top: -15px;
}

.volver{
    width: 90px;
    background-color: rgb(255, 38, 0) ;
    border-radius: 10%;
    border: 2px solid black;
    color: white;
    
}

.image{
    filter: drop-shadow(10px 12px 10px rgba(17, 17, 17, 0.7))
}

.return{
    background-color: aliceblue;
    width: 145px;
    margin-left: 50px;
    border-radius: 50%;
    border:2px solid black;
    box-shadow: 10px 12px 15px rgb(0, 0, 0);
}