.paginado{
    background-color: white;
    width: 35px;
    height: 35px;
    font-size: 1rem;
    cursor:pointer;
    box-shadow: 9px 7px 9px rgba(0, 0, 0, 0.637);   
}

.paginado:hover{
    background-color: rgb(168, 168, 168);
}