.button{
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 80px;
    box-shadow: 9px 7px 9px rgba(0, 0, 0, 0.637);
    cursor:pointer;
    font-size: 1.2rem;
}

.button:hover{
    background-color: rgb(158, 14, 14);
}

.searchBox{
    box-shadow: 9px 7px 9px rgba(0, 0, 0, 0.637);
    font-size: 1.4rem;
    
}